<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 设置项目中的数据库配置文件，主要包括数据源的连接url等 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>
					classpath:connect.properties
				</value>
			</list>
		</property>
	</bean>
	<!-- 项目中的数据源配置  -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass">
			<value>${oracle.driverclass}</value>
		</property>
		<property name="jdbcUrl">
			<value>${oracle.database}</value>
		</property>
		<property name="user">
			<value>${oracle.username}</value>
		</property>
		<property name="password">
			<value>${oracle.password}</value>
		</property>
		<property name="initialPoolSize">
		 	<value>${oracle.initialPoolSize}</value>
		</property>
   		<property name="minPoolSize">
   			<value>${oracle.minPoolSize}</value>
   		</property>
   		<property name="maxPoolSize">
   			<value>${oracle.maxPoolSize}</value>
   		</property>
   		<property name="maxIdleTime">
   			<value>${oracle.maxIdleTime}</value>
   		</property>
   		<property name="acquireIncrement">
   			<value>${oracle.acquireIncrement}</value>
   		</property>
   		<property name="idleConnectionTestPeriod">
   			<value>${oracle.idleConnectionTestPeriod}</value>
   		</property>
   		<property name="acquireRetryAttempts">
   			<value>${oracle.acquireRetryAttempts}</value>
   		</property>
   		<property name="breakAfterAcquireFailure">
   			<value>${oracle.breakAfterAcquireFailure}</value>
   		</property>
   		<property name="maxStatements">
   			<value>${oracle.maxStatements}</value>
   		</property>
   		<property name="testConnectionOnCheckout">
   			<value>${oracle.testConnectionOnCheckout}</value>
		</property>
		<property name="preferredTestQuery">
			<value>${oracle.preferredTestQuery}</value>
		</property>
	</bean>

	<!-- spring提供的一个数据库连接对象或者Connection 对象 -->
	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="txAttributes"
		class="org.springframework.transaction.interceptor.NameMatchTransactionAttributeSource">
		<property name="properties">
			<value>
				*=PROPAGATION_REQUIRED,-Exception
				do*=PROPAGATION_REQUIRED,-Exception
			</value>
		</property>
	</bean>
	<bean id="txInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="transactionAttributeSource">
			<ref bean="txAttributes" />
		</property>
	</bean>
	
	<bean id="workflowStroe" class="com.coreworkflow.workflow.spi.plugin.WorkFlowStoreOraclePlugin">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	
	<!-- 工作流调度任务工作类 -->
	<bean id="workflowjob" class="com.coreworkflow.workflow.timer.WorkFlowJob">
		<property name="workflowStroe" ref="workflowStroe" />
	</bean>
</beans>